/* CSS Document */

/************** Main menu styling improvements *******************************/

/* 1 */
#menu-custom > li:nth-child(1) > ul {
    width: 195px;
}

#menu-custom > li:nth-child(1) > ul ul{
    left: 195px;
    width: 170px;
}

/* 2 */
#menu-custom > li:nth-child(2) > ul {
    width: 174px;
}

#menu-custom > li:nth-child(2) > ul ul {
    left: 174px;
    width: 160px;
}

#menu-custom > li:nth-child(2) > ul li:nth-child(n + 2) ul {
    width: 160px;
}

#menu-custom > li:nth-child(2) > ul li:nth-child(n + 3) ul {
    width: 205px;
}

#menu-custom > li:nth-child(2) > ul li:nth-child(n + 4) ul {
    width: 205px;
}

/* 3 */
#menu-custom > li:nth-child(3) > ul {
    width: 139px;
}

#menu-custom > li:nth-child(3) > ul li:nth-child(1) a {
    background: url(../img/facebook_icon_gray.png) no-repeat 30px center;
    background-size: 16px 16px;
    background-position: 8px 6px;
}

#menu-custom > li:nth-child(3) > ul li:nth-child(2) a {
    background: url(../img/google_icon_gray.png) no-repeat 30px center;
    background-size: 16px 16px;
    background-position: 8px 6px;
}

#menu-custom > li:nth-child(3) > ul li:nth-child(3) a {
    background: url(../img/linkedin_icon_gray.png) no-repeat 30px center;
    background-size: 16px 16px;
    background-position: 8px 6px;
}

#menu-custom > li:nth-child(3) > ul li:nth-child(4) a {
    background: url(../img/twitter_icon_gray.png) no-repeat 30px center;
    background-size: 16px 16px;
    background-position: 8px 6px;
}

#menu-custom > li:nth-child(3) > ul li:nth-child(5) a {
    background: url(../img/pinterest_icon_gray.png) no-repeat 30px center;
    background-size: 16px 16px;
    background-position: 8px 6px;
}

#menu-custom > li:nth-child(3) > ul li:nth-child(6) a {
    background: url(../img/youtube_icon_gray.png) no-repeat 30px center;
    background-size: 16px 16px;
    background-position: 8px 6px;
}

/************** Responsive layout for positioning footer in relationship to slider **************/

footer {
    padding-top:0%;
}

/*@media only screen and (max-width: 767px) {
    .home-body{
        height:83px !important;
    }
}*/

/*@media only screen and (max-width: 500px) {
    .home-body{
        height:0px !important;
    }
}*/

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .home-body{
        height:552px;
        #height:0px !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home-body{
        height:83px !important;
    }
}

@media only screen and (min-width: 768px)  and (max-width: 979px) {
    .home-body{
        height:552px !important;
    }
}


@media only screen and (min-width: 980px) and (max-width: 1199px) {
    .home-body{
        height:552px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .home-body{
        height:552px !important;
    }
}

/**************** Internal pages image banner ******************/

.breadcrumb {
    z-index: 2;
    position: absolute;
    background-color:rgba(255,255,255,0.5);
    border: none;
}

.cms_image_banner {
    position: relative;
}

#center_column h1 {
    margin-top: 60px;
}

.cms_title_lifestyle {
    font-family: 'Fjalla One', sans-serif;
    color: #777;
    font-size: x-large;
}

/*************** Footer ***************************************/

/* public/themes/theme696/css/global.css */
footer .block ul li {
    border: none !important;
    background: none !important;
    padding: 0px !important;
}

/* http://testonly.gorillazen.com/themes/theme696/css/bootstrap-responsive.css */
/*.row {
    margin-left: 0 !important;
}*/

/*.span12 {
    margin-left: 0px !important;
}*/