/* CSS Document */

/* Main menu styling improvements */

#menu-custom > li:nth-child(1) > ul {
    width: 195px;
}

#menu-custom > li:nth-child(1) > ul ul{
    left: 195px;
}

#menu-custom > li:nth-child(3) > ul {
    width: 170px;
}

/* Responsive layout for positioning footer in relationship to slider */

footer {
    padding-top:0%;
}

@media only screen and (max-width: 767px) {
	.home-body{
	height:83px !important;
	}
}

@media only screen and (max-width: 500px) {
	.home-body{
	height:0px !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.home-body{
	height:552px;
	}
}
@media only screen and (min-width: 768px)  and (max-width: 980px) {
	.home-body{
	height:552px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.home-body{
	height:83px;
	}
}

@media only screen and (min-width: 950px) and (max-width: 1199px) {
	.home-body{
	height:552px !important;
	}
}

@media only screen and (min-width: 1200px) {
	.home-body{
	height:552px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.home-body{
	height:212px !important;
	}	
}

@media only screen and (min-width: 768px) {
	.home-body{
	height:212px;
	}	
}